@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NeusharpBold";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/AvaMeridian-j860.ttf) format("truetype");
  }

  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
  }

  #root {
    height: 100%;
    width: 100%;
  }
}
